extends ../layout

block content
  h1= title
  br
  br
  if (error)
  p= error
  form(
    method="post"
    action=action
  )
    label
      strong Nom
      input(name="name" value=team.name placeholder="Nom de votre team")

    label
      strong Slogan
      input(name="slogan" value=team.slogan placeholder="Slogan de votre team")

    label
      input(type="submit" value="Envoyer")
