extends ../layout

block content
  h1= title
  br
  br
  form(
    method="post"
    action=action
    id="create_form"
  )
      h2 Modification de l'utilisateur : #{user.pseudo}
      input(name="pseudo" value=user.pseudo)

      input(name="firstname" value=user.firstname)

      input(name="lastname" value=user.lastname)

      input(name="email" value=user.email)

      select(name="team")
          option(value="none", selected=(!!user.team)) Aucune
          each team, i in teams
              option(value=team._id, selected=(user.team && user.team.toString() == team._id.toString())) Team : #{team.name}

      input(type="submit" id="create_form_submit" value="Modifier")
