extends ../layout

block content
  h1= title

  a(href='/users/add') Ajouter un utilisateur
  br
  br
  table(border=1)
    tr
      th Id
      th Pseudo
      th Prénom
      th Nom
      th Email
      th Créé :
      th Modifié :
      th Actions :
    each user in users
      tr
        td #{user._id}
        td #{user.pseudo}
        td #{user.firstname}
        td #{user.lastname}
        td #{user.email}
        td #{moment(user.createdAt).fromNow()}
        td #{moment(user.modifiedAt).fromNow() || "Not Updated Yet !"}
        td
          a(href='/users/' + user._id) &nbsp;  Voir &nbsp; |
          a(href='/users/' + user._id + '/edit') &nbsp; Éditer &nbsp; |
          a(href='/users/' + user._id + '?_method=delete') &nbsp; Supprimer &nbsp;
