extends ../layout

block content
  h1= title
  p Voici la liste des utilisateurs :

  a(href='/users/add') Ajouter un utilisateur
  table(border=1)
    tr
      th Id
      th Pseudo
      th Prénom
      th Nom
      th Email
      th Créé le :
      th Modifié le :
      th Action

    each user in users
      tr
        td #{user._id}
        td #{user.pseudo}
        td #{user.firstname}
        td #{user.lastname}
        td #{user.email}
        td #{user.createdAt}
        td #{user.modifiedAt}
        td
          a(href='/users/' + user._id) &nbsp;  Voir &nbsp; |
          a(href='/users/' + user._id + '/edit') &nbsp; Éditer &nbsp; |
          a(href='/users/' + user._id + '?_method=delete') &nbsp; Supprimer &nbsp;
