extends ../layout

block content
    h1= title
    br
    br
    table(border=1, cellspacing='5px')
        tr
            th Pseudo
            th Prénom
            th Nom
            th Email
            th Team
            th Créé :
            th Modifié :
            th(colspan=3) Actions :
        each user in users
            tr
                td #{user.pseudo}
                td #{user.firstname}
                td #{user.lastname}
                td #{user.email}
                td #{user.team != null ? user.team.name : "N'appartient à aucune team"}
                td #{moment(user.createdAt).fromNow()}
                td #{moment(user.modifiedAt).fromNow() != "Invalid date" ? moment(user.modifiedAt).fromNow() :  "Not Updated Yet !"}
                td(class='show')
                    a(href='/users/' + user._id) &nbsp;  Voir &nbsp;
                td(class='edit')
                    a(href='/users/' + user._id + '/edit') &nbsp; Éditer &nbsp;
                td(class='delete')
                    a(href='/users/' + user._id + '?_method=delete') &nbsp; Supprimer &nbsp;
