extends ../layout

block content
  table(border=1)
    tr
  h1= title
  br
  br
  table(border=1)
    tr
      th ID
      td= user._id
    tr
      th Pseudo
      td= user.pseudo
    tr
      th Prénom
      td= user.firstname
    tr
      th Nom
      td= user.lastname
    tr
      th Email
      td= user.email
    tr
      th Team
      td #{user.team != null ? user.team.name : "N'appartient à aucune team"}
    tr
      th Crée le :
      td #{moment(user.createdAt).fromNow()}
    tr
      th Modifié le :
      td #{moment(user.modifiedAt).fromNow() != "Invalid date" ? moment(user.modifiedAt).fromNow() :  "Not Updated Yet !"}
