extends ../layout

block content
  h1=title
  br
  br
  form(
    method="post"
    action="/"+userId+"/todos/add"
    id="create_form"
  )
      h2 Création d'une nouvelle tâche
      span(id="choix_team") * Auteur :
      select(name="author")
          option(value=todo.author) #{userPseudo}

      input(name="task" placeholder="* Tâche" value=todo.task)

      span(id="choix_team") * Destinataire :
      select(name="recipient")
          each user, i in users
              option(value=todo.recipient) #{user.pseudo}

      input(type="submit" value="Envoyer" id="create_form_submit")
